header ul a, header ul button{
  span {
    position: relative;
    padding-bottom: 4px;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 50%;
      transition: 0.3s;
      transform: translateX(-50%);
      background-color: var(--yDark);
    }
  }
  &:hover span{
    &::after {
      width: 100%;
    }
  }
}